* {
    padding: 0;
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(#50d5b7,#067d68);
}
.quadrado {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.335);
    padding: 30px;
    border-radius: 10px;
    color: rgb(23, 62, 7);
    
}
h1 {
    color: #455EB5;
    font-size: 4rem;
}
.dentro {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dentro button {
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
      
}


span {
    color: #455EB5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8rem;
    border: 2px solid #455EB5;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 30px;
}
.buttonbaixo {
        background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
        border-radius: 8px;
        border-style: none;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        flex-shrink: 0;
        font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
        font-size: 16px;
        font-weight: 500;
        height: 4rem;
        padding: 0 1.6rem;
        text-align: center;
        text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
        transition: all .5s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: 395px;
}
